<h1>add new song</h1>

<div class="addsong-main">
  <div class="addsong-display">
    <form class="mt-5" action="/admin/upload-new-song" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <h4>Song Name</h4>
        <input type="text" class="form-control" name="songname" required autocomplete="off"/>
      </div>
      <div class="mb-3 mt-4">
        <h4>Artist Name</h4>
        <input type="text" class="form-control" name="artistname" required autocomplete="off"/>
      </div>
      <div class="mb-3 mt-4">
        <h4>Duration</h4>
        <input type="text" class="form-control" name="duration" required autocomplete="off"/>
      </div>
      <div class="mb-3 mt-4">
        <h4>Language</h4>
        <select class="form-select" id="language" name="language" required >
          <option value="" disabled selected>Select a language</option>
          <option value="Malayalam">Malayalam</option>
          <option value="Tamil">Tamil</option>
          <option value="Hindi">Hindi</option>
          <option value="English">English</option>
        </select>
      </div>
      <div class="mb-3 mt-4">
        <h4>Categories</h4>
        <select class="form-select" id="categories" name="categories" required>
          <option value="" disabled selected>Select a categories</option>
          <option value="Chill-Hits">Chill Hits</option>
          <option value="Romantic">Romantic</option>
          <option value="Sad">Sad</option>
        </select>
      </div>
      <div class="mb-3 mt-4">
        <h4>Types</h4>
        <select class="form-select" id="Types" name="types" required>
          <option value="" disabled selected>Select a types</option>
          <option value="Normal">Normal</option>
          <option value="Lo-Fi">Lo-Fi</option>
          <option value="BGM">BGM</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <div class="mb-3 mt-4">
        <h4>Song image</h4>
        <input type="file" class="form-control" required name="songImg" onchange="newImg(event)" />
        <img class="add-song-img mt-4" src="" alt="song-img" id="imgView" />
      </div>

      <div class="mb-3 mt-4">
        <h4>Song file</h4>
        <input type="file" class="form-control" name="songFile" required />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

<style>
      .add-song-img {
        border: 1px black solid;
        border-radius: 8px;
        margin-left: 165px;
        width: 100px;
        height: 100px;
        filter: brightness(70%) contrast(150%) saturate(0%) brightness(150%);
    }
  .addsong-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addsong-display {
    width: 500px;
    height: 500px;
    ;
    border-radius: 5px;
  }
</style>

<script>
  function newImg(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
  }
</script>